@import './variables', './mixins';

//Tablet
@media screen and (min-width: $tablet) {
  // Hero Container
  .hero__container {
    margin: 120px auto;
    .hero__main {
      @include flex-col;
      margin: 0 auto;
      padding: 80px 0px;
      .svg-img__container {
        display: block;
        width: 350px;
      }

      .hero__info {
        #type-line {
          font-size: 1em;
          display: inline-block;
        }
      }
    }

    .more-about-me__button {
      span {
        margin-top: 5px;
      }
    }
  }

  //About Me
  .about-me__container {
    @include shadow;
    width: 75%;
    padding: 40px;
  }

  //Skills
  .skills__container {
    .additional_skills {
      @include shadow;
      padding: 40px;
      line-height: 2rem;
    }
  }

  .contact__container {
    padding: 40px;
  }
}

// Laptop
@media screen and (min-width: $laptop) {
  //Hero Container
  .hero__container {
    margin: 150px auto;
    .hero__main {
      @include flex-row;
      justify-content: space-around;

      padding-top: 100px;
      padding-bottom: 150px;
    }
  }

  .about-me__container {
    line-height: 1.7rem;
  }
}

@media screen and (min-width: $desktop) {
  .hero__container {
    margin: 90px auto;
    .more-about-me__button {
      span {
        margin-top: 5px;
      }
    }
  }

  .about-me__container {
    width: 60%;
    padding: 70px;
    margin: 300px auto;
  }

  .skills__container {
    margin: 300px auto;
    .tech-icons__container {
      svg {
        width: 100px;
      }
    }
    .additional_skills {
      width: 60%;
      margin: 100px auto;
    }
  }

  .projects__container {
    margin: 300px auto;
    .project-box__container {
      @include flex-row;
    }
  }

  .contact__container {
    .other-contacts {
      width: auto;
      margin: auto;
      text-align: center;
    }
  }
}
